#main-wrapper {
    background: #1A1A1A;
    min-height: 100vh !important;
    width: 70%;
    margin: 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-wrapper * {
    background: none;
}

.main{
    margin: 30px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.nextQuiz {
    max-width: 400px !important;
    margin: auto !important;
}

#correctAnswer, #incorrectAnswer {
    padding: 10px !important;
    margin: 5px !important;
}