#main-wrapper {
    background: #1A1A1A;
    min-height: 100vh !important;
    width: 70%;
    margin: 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-wrapper * {
    background: none;
    margin-right: 5% !important;
}