#main-wrapper {
    background: #1A1A1A;
    min-height: 100vh !important;
    width: 70%;
    margin: 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-wrapper * {
    background: none;
}

.main {
    margin: 30px;
    display: flex !important;
    background: #261f29 !important;
    border-radius: 40px !important;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 20px !important;
    height: 100% !important;
}

.home-main, .Error404 {
    margin: 30px;
    display: flex !important;
    background: #261f29 !important;
    border-radius: 40px !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px !important;
    height: 100% !important;
    width: 80%;
}

.home-faq {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

/* Random Quiz ------------------------------------- */
.nextQuiz {
    max-width: 400px !important;
    width: fit-content !important;
    margin: auto !important;
    background: #1A1A1A !important;
    border: 2px solid #2c2c2c !important;
}

.nextQuiz:hover{
    background: #2c2c2c !important;
}

#correctAnswer, #incorrectAnswer {
    padding: 10px !important;
    margin: 5px !important;
}

#correctAnswer:hover, #incorrectAnswer:hover {
    background: #2c2c2c;
    border: #400081 solid 2px;
}

.quizSeparator {
    border: solid 1px #6e6e6e !important;
    border-radius: 5px !important;
    width: 100% !important;
}

/* Quiz Creation Form ------------------------------ */
.createQuiz {
    margin: 30px;
    width: 90%;
    display: flex !important;
    background: #261f29 !important;
    border-radius: 40px !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px !important;
    height: 100% !important;
}

.createQuizOpt {
    padding: 10px !important;
    margin: 5px auto !important;
    border: #2c2c2c solid 2px !important;
    background: #1A1A1A !important;
    border-radius: 15px;
    min-width: 50px;
    width: 70%;
}

button.createQuizOpt {
    width: 40%;
}

option {
    background: black !important;
}

.Error404 {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fakeBugReport{
    border: none !important;
}

#Rick{
    height: 560px;
    margin: 10px !important;
}