/* sidebar elements position */
.sidebar-sticky{
    background: white;
    position: relative;
    background: none;
    padding: 12% 10% 0 10%;
}

/* sidebar position */
.sidebar{
    position: relative;
    margin: 0 0 0 0;
    z-index: 10;
    background: none;
}

/* sidebar settings */
#sidebar-wrapper{
    background: #1A1A1A;
    min-height: 100vh !important;
    width: 15%;
    margin-left: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

/* navigation box settings */
.nav-item{
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
}

/* user box settings */
.user{
    flex: 50%;
    padding: 10px;
}

.user-info{
    background: none;
    display: flex;
}

hr{
    border: solid 1px #6e6e6e !important;
    border-radius: 5px !important;
}

p{
    background: none;
    color: antiquewhite;
    padding: 0 0 10px 0;
    margin: auto;
    text-align: center;
}

img{
    width: 20%;
    height: auto;
    background: none;
    border-radius: 50%;
}

footer{
    margin-bottom: 1px;
    background: none;
}

/* <---- backup ----> */
/*.nav-link{
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    padding: 7px 0 0 13px;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    background: none;
    border: #1A1A1A solid 3px;
    border-radius: 15px;
}

.nav-link:hover{
    background: #47474710;
    border: #400081 solid 3px;

}

#sidebar-wrapper .sidebar-heading{
    font-size: 1.2rem;
    padding: 0.875rem 1.25rem;
}

#page-content-wrapper{
    min-width: 0;
    width: 100%;
}*/