.sidebar {
    position: relative;
    margin: 0 0 0 0;
    z-index: 10;
    padding: 40px 40px 0;
    background: none;
}

#sidebar-wrapper{
    background: #1A1A1A;
    min-height: 100vh !important;
    width: 15%;
    margin-left: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading{
    font-size: 1.2rem;
    padding: 0.875rem 1.25rem;
}

#page-content-wrapper{
    min-width: 0;
    width: 100%;
}

.nav-item{
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
}

.nav-link{
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    padding: 7px 0 0 13px;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    background: none;
    border: #1A1A1A solid 3px;
    border-radius: 15px;
}
.nav-link:hover{
    background: #47474710;
    border: #400081 solid 3px;

}