.sidebar {
    position: relative;
    margin: 0 10px 0 0;
    z-index: 10;
    padding: 40px 40px 0;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.65);
}

#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading{
    font-size: 1.2rem;
    padding: 0.875rem 1.25rem;
}

#page-content-wrapper{
    min-width: 0;
    width: 100%;
}

.nav-item{
    justify-content: center;
    align-items: center;
    
}