.main {
    margin: 30px;
    justify-content: center !important;
    flex-direction: column;
    text-align: center;
    padding: 20px !important;
    height: 100% !important;
    width: 90% !important;
}

.cat-btn {
    margin: 15px;
    padding: 10px 15px;
    font-size: large;
    background: #1A1A1A;
    border: 2px solid #2c2c2c;
}

.pageMenu {
    margin: 10px auto 0 auto !important;
    padding: 0 !important;
    list-style-type: none !important;
    display: flex !important;
    width: min-content;
}

.page-number {
    margin: 5px !important;
    text-decoration: none !important;
}

.page-number:hover {
    color: rgb(179, 167, 152) !important;
}

.active {
    color: rgb(255, 222, 180) !important;
}

.category-header {
    margin: 0 auto 20px auto !important;
}

#categories {
    max-width: 500px;
    margin: 0 auto !important;
}