.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.popup-inner {
    position: relative;
    padding: 48px 36px;
    width: 100%;
    max-width: 400px;
    background: rgb(8, 6, 9);
    border-radius: 35px;
    
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-btn {
    border: none !important;
    background: none !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  background: none !important;
}

h1 {
    background: none;
}

strong {
    background: none;
    font-size: 20px;
}