.btn-wrong-answer {
    background-color: #6f0000 !important;
    border-color: #bb0000 !important;
}

.btn-wrong-answer:hover {
    background-color: #5e0000 !important;
    border-color: #aa0000 !important;
}

.btn-correct-answer {
    background-color: #006f00 !important;
    border-color: #00bb00 !important;
}

.btn-correct-answer:hover {
    background-color: #005e00 !important;
    border-color: #00aa00 !important;
}

.save-quiz {
    margin-right: 0 !important;
}

.quizInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizInfoInfo {
    margin: 0 auto 0 auto !important;
}

.save-quiz-btn {
    background: none !important;
    border: none !important;
    margin: 0 20px 0 0 !important;
    width: 45px;
}